/*  */

h1{
  margin: 20px 0 0;
}
.game-container{
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}
.game-logo {

}

#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #9DA400, #BAC600);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}

#hangman {
  text-align: center;
  background-color: #fff;
  border: 2px solid #000;
  display: block;
  margin: 20px auto;
}

canvas {
  font-size: 20px;
  color: #000;
}