body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.game-logo {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #9DA400, #BAC600);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}
#start-game-button:hover {
  background-color: #0056b3;
}
canvas {
  border: 1px solid #000;
  background-color: #fff;
}
#hangman {
  text-align: center;
}
